<div id="nav">
  <a href="/professional_profile">My Profile</a> |
  <a href="/sessions" data-method="delete">Logout</a>
</div>

<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p><b>Description : </b> <%= @user.description %></p>
