// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#left, #right{
  display: inline-block;
  width:500px;
  vertical-align: top;
}

#comments{
  width: 450px;
  height: 300px;
  overflow-y: auto;
}

textarea{
  width: 450px;
  height: 100px;
}
