<h1>All Comments</h1>
<table>
  <thead>
    <tr>
      <th>Comments</th>
      <th>Product</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |c| %>
    <tr>
      <td><%= c.comment %></td>
      <td><%= c.product.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back", products_path %>
